In [ ]:
show list -database args(username, password file etc)

List of DataBase

In [ ]:
sqoop list-database \

In [1]:
--connect jdbc:postgresql://postgres:abc123@\localhost:5432/postgres\

In [2]:
--username labuser \

In [3]:
--password DeepuPillai \

List of table

In [5]:
sqoop list-tables \

In [6]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147\

In [7]:
--username labuser \

In [8]:
--password DeepuPillai

Access the queries

In [9]:
eval - you can write pre and post import to db using eval

In [10]:
sqoop eval \

In [11]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147\

In [16]:
--username labuser \

In [18]:
--password DeepuPillai

In [13]:
--query "SELECT * FROM order_items LIMIT 10"

Import by warehouse dir

In [14]:
sqoop import \

In [15]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147\

In [17]:
--username labuser \

In [19]:
--password DeepuPillai

In [20]:
--table order items \

Use Warehouse dir (create folder and dumb the data) or Target dir to directory dumb the data

In [21]:
--warehouse-dir /user/Project/sqoop_import/retail_db

Import by Target dir

In [22]:
sqoop import \

In [23]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147/retail_db \

In [24]:
--username labuser \

In [25]:
--password DeepuPillai

In [26]:
--table order items \

In [28]:
--target-dir /user/Project/sqoop_import/retail_db/order_items

Delete the dir

In [29]:
sqoop import \

In [ ]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147/retail_db \

In [38]:
--username labuser \

In [30]:
--password DeepuPillai

In [31]:
--table order items \

In [32]:
--warehouse-dir /user/Project/sqoop_import/retail_db \

In [33]:
--num-mappers 1 \

In [34]:
--delete-target-dir

Append Data

In [36]:
sqoop import \

In [37]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147/retail_db \

In [39]:
--username labuser \

In [40]:
--password DeepuPillai

In [41]:
--warehouse-dir /user/Project/sqoop_import/retail_db \

In [42]:
--num-mappers 1 \

In [43]:
--append

If no primary key it will throw error so instead Use Spilt By

In [44]:
sqoop import \

In [45]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147/retail_db \

In [46]:
--username labuser \

In [47]:
--password DeepuPillai

In [48]:
--warehouse-dir /user/Project/sqoop_import/retail_db \

In [49]:
--split-by order_item_order_id

If using string column throws error try this

In [50]:
sqoop import \

In [56]:
-Dorg.apache.sqoop.splitter.allow_text_splitter=true \

In [51]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147/retail_db \

In [52]:
--username labuser \

In [53]:
--password DeepuPillai

In [54]:
--warehouse-dir /user/Project/sqoop_import/retail_db \

In [55]:
--split-by order_item_order_id

In [57]:
--driver 'com.mysql.jdbc.Driver'

Copy all data but to select specific columns for the table

In [58]:
sqoop import \

In [59]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147/retail_db \

In [60]:
--username labuser \

In [61]:
--password DeepuPillai

In [62]:
--table order items \

In [63]:
--columns order_item_order_id, order_item_id, order_item_subtotal \

In [64]:
--warehouse-dir /user/Project/sqoop_import/retail_db \

In [65]:
--num-mappers 2

Add queries with Conditions

In [66]:
sqoop import \

In [67]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147/retail_db \

In [68]:
--username labuser \

In [69]:
--password DeepuPillai

In [70]:
--target-dir /user/Project/sqoop_import/retail_db/order_items

In [71]:
--num-mappers 2 \

In [72]:
--query "select 0.*, sum(oi.order_item_subtotal) order_revenue from orders o join order_items oi on o.order_id = oi.order_item_order_id and \$CONDITIONS group by o.order_id, o.order_date, o.order_customer_id, o.order_status" \

In [73]:
--split-by order_id \

If it throws a connection error use the below statement

In [74]:
--driver 'com.mysql.jdbc.Driver'

Import to Hive Data (it get into HDFS first then into Hive not directly into Hive)

In [77]:
sqoop import \

In [78]:
--connect jdbc:mysql://mysqldb.projectpro.com:5147/retail_db \

In [79]:
--username labuser \

In [80]:
--password DeepuPillai

In [81]:
--table order items \

In [82]:
--hive-import \

In [83]:
hive-database june28 \

In [84]:
hive-table order_items \

In [85]:
--num-mappers 2

Below statement checks whether the table already exists or not IF already exists it will throw error to import but before throwing error it will save data into HDFS

In [76]:
--create-hive-table