In [3]:
biz = spark.read.json("datasets/business.json")

In [5]:
biz.printSchema()

In [6]:
biz.createOrReplaceTempView("biz")

In [7]:
spark.sql("SELECT count(1) as businesses FROM biz").show()

In [8]:
spark.sql("SELECT state, count(1) as businesses FROM biz GROUP BY state").show(10)

In [9]:
spark.sql("SELECT state, count(1) as businesses FROM biz GROUP BY state ORDER BY businesses DESC").show(5)

In [10]:
spark.sql("SELECT name, stars, review_count, city, state FROM biz WHERE state='NV' AND stars = 5.0").show(3)

In [13]:
spark.sql("SELECT name, stars, review_count, city, state FROM biz WHERE stars = 5.0").show(5)

In [12]:
spark.sql("SELECT state, count(review_count) as reviews FROM biz GROUP BY state").show()

In [14]:
spark.sql("SELECT stars, count(1) as businesses FROM biz GROUP BY stars").show()

In [16]:
spark.sql("SELECT state, AVG(review_count) as avg_reviews FROM biz GROUP BY state").show()

In [17]:
spark.sql("SELECT state, ROUND(AVG(review_count)) as avg_reviews FROM biz GROUP BY state ORDER BY avg_reviews DESC LIMIT 5").show()

In [18]:
spark.sql("SELECT state, stars, review_count FROM biz WHERE city='Las Vegas' ORDER BY stars DESC, review_count DESC LIMIT 5").show()

In [19]:
spark.sql("select * from biz where hours.Wednesday.close='21:00' LIMIT 5").show